html {
    background: linear-gradient(rgb(11, 11, 11)0%, rgb(11, 11, 11)30%, rgb(232, 193, 53)35%, rgb(243, 3, 3)50%, rgb(40, 92, 223)65%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    
    
}

.oval-container {
    width: 850px;
    height: 200px;
    background-color:rgb(232, 193, 53);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.game-headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(243, 3, 3);
    height: 100%;
    
}

.special-font {
    font-family: 'Century';
    text-transform: none;                  
    font-variant: normal;
    font-style: italic;
    display: inline-block;         
    transform: scaleY(2);          
    line-height: 1.2; 
    font-weight: bold;  
}
.title, .subtitle {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 100;
}

.subtitle {
    font-size: 25px;
    margin-top: 1rem;
}

.main-image {
    object-fit: cover;
    width: 700px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 15px 15px 15px black;
}

.h2-container {
    width: 350px;
    height: 80px;
    background-color: rgb(232, 193, 53);  
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;               
    justify-content: center;    
    align-items: center; 
    margin-top: 3rem; 
    margin-bottom: 3rem;
}

.main-cast {
    color: rgb(243, 3, 3);
    text-align: center;
    font-size: 40px;
}

.cast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.character {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.character img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 0px 5px 15px black;
  
}

.character img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 15px 30px black;
} 

figcaption {
 color: rgb(244, 209, 36);
}

.name {
    font-size: 25px;
    margin-top: 0.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.first-button {
    background-color: rgb(232, 193, 53);
    color:rgb(243, 3, 3);
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;                
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 10px 15px 15px black;
}

.first-button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 15px 30px black;
} 


.second-button {
    background-color: rgb(232, 193, 53);
    color:rgb(243, 3, 3);
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    box-shadow: 10px 15px 15px black;
    width: 15rem;
    border-radius: 50%;
    display: flex;                
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 10px 15px 15px black;
}

.second-button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 15px 30px black;
} 

#how-to-play p{
    margin-left: 1rem;
    margin-right: 1rem;
}