html {
    background: linear-gradient(rgb(11, 11, 11)0%, rgb(11, 11, 11)5%, rgb(232, 193, 53)15%, rgb(211, 3, 3)30%, rgb(40, 92, 223)65%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    
}

.oval-container {
    width: 1400px;
    height: 500px;
    background-color:rgb(232, 193, 53);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.game-headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(211, 3, 3);
    height: 100%;
    
}

h1{
    font-size: 90px;
    margin-top: -100px;
}

.special-font {
    font-family: 'Century';
    text-transform: none;                  
    font-variant: normal;
    font-style: italic;
    display: inline-block;         
    transform: scaleY(2);          
    line-height: 1.2; 
    font-weight: bold;  
    font-size: 5rem;
}
.title, .subtitle {
    margin-bottom: 1rem;
    font-weight: 100;
}

.subtitle {
    font-size: 50px;
    margin-top: 4rem;
}

.main-image {
    object-fit: cover;
    width: 90%;
    height: 1300px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 15px 15px 15px black;
}

.h2-container {
    width: 1200px;
    height: 200px;
    background-color: rgb(232, 193, 53);  
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;               
    justify-content: center;    
    align-items: center; 
    margin-top: 15rem; 
    margin-bottom: 3rem;
}

.h2-container p {
    font-size: 100px;
}

.main-cast {
    color: rgb(211, 3, 3);
    text-align: center;
}

.cast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 15rem;
}

.character {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.character img {
    object-fit: cover;
    width: 450px;
    height: 800px;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 0px 5px 15px black;
  
}

.character img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 15px 30px blue;
} 

.character img.disabled {
    pointer-events: none; 
    opacity: 0.5;  
  }

.fade-out {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.question-container {
    background-color: rgb(232, 193, 53);
    color: rgb(211, 3, 3);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px blue;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; 
    max-width: 1000px; 
    z-index: 999;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answers button {
    background-color: blue;
    color: rgb(211, 3, 3);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}

.answers button:hover {
    transform: scale(1.05);
}

button.inactive {
    pointer-events: none; 
    cursor: not-allowed; 
}

.bonus-question-container {
    background-color: rgb(232, 193, 53);
    color: rgb(211, 3, 3);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px blue;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; 
    max-width: 1000px; 
    z-index: 999;
}


.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none; 
    z-index: 998; 
    transition: opacity 0.3s ease; 
}

@keyframes glowingEffect {
    0% {
        box-shadow: 0 0 10px 5px rgb(232, 193, 53); 
         
    }
    50% {
        box-shadow: 0 0 30px 15px rgba(0, 0, 255, 0.8); 
        
    }
    100% {
        box-shadow: 0 0 10px 5px rgb(232, 193, 53); 
        
    }
}

@keyframes pulsate {
    0% {
      filter: brightness(1) hue-rotate(0deg);
    }
    50% {
      filter: brightness(1.5) hue-rotate(180deg);
    }
    100% {
      filter: brightness(1) hue-rotate(360deg);
    }
  }

  .pulsate-effect {
    animation: pulsate 2s infinite;
  }

.character img.glowing {
    animation: glowingEffect 1.5s infinite alternate;
}

.start-button-glow {
    animation: pulsate 2s infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.8);
}

.bonus-button-glow {
    animation: pulsate 2s infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.8);
}

figcaption {
 color: rgb(244, 209, 36);
}

.name {
    font-size: 60px;
    margin-top: 0.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.buttons a {
    margin-top: 15rem;
}

.first-button {
    background-color: rgb(232, 193, 53);
    color:rgb(211, 3, 3);
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 7rem;
    font-size: 60px;
    border-radius: 50%;
    display: flex;                
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 10px 15px 15px black;
}

.first-button:hover {
    transform: scale(1.1); 
    box-shadow: 10px 15px 30px black;
} 


.second-button {
    background-color: rgb(232, 193, 53);
    color:rgb(211, 3, 3);
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 40rem;
    height: 7rem;
    font-size: 60px;
    border-radius: 50%;
    display: flex;                
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease; 
    transform: scale(1); 
    box-shadow: 10px 15px 15px black;
    
}

.second-button:hover {
    transform: scale(1.1); 
    box-shadow: 10px 15px 30px black;
} 

.bonus-option {
    background-color: rgb(232, 193, 53);
    color:rgb(211, 3, 3);
    margin-top: 15rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 7rem;
    font-size: 60px;
    border-radius: 50%;
    display: block;                
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;   
    transform: scale(1); 
    box-shadow: 10px 15px 15px black;
    font-family: 'Times New Roman', Times, serif;
}

.bonus-option:hover {
    transform: scale(1.1); 
    box-shadow: 10px 15px 30px black;
} 

.score-keeper {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    font-size: 60px;
    color: rgb(232, 193, 53);
}

.score, .wrong, .bonus {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.score p, .wrong p, .bonus p {
    margin: 0; 
    padding: 5px 0;
}


.play-container {
    width: 95%; 
    max-width: 1800px;
    height: 1000px; 
    background-color: rgb(232, 193, 53);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; 
}

.play-container h2 {
    font-size: 90px;
    color: rgb(211, 3, 3);
}

.play-container p {
    margin-right: 2rem; 
    margin-left: 2rem;  
    margin-top: 1rem;   
    font-size: 40px;
    color: rgb(211, 3, 3);
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    text-align: center; 
    line-height: 1.5; 
}


.bonus-container {
    width: 95%; 
    max-width: 1800px;
    height: 900px; 
    background-color: rgb(232, 193, 53);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; 
}

.bonus-container h2 {
    font-size: 90px;
    color: rgb(211, 3, 3);
}

.bonus-container p {
    margin-right: 2rem; 
    margin-left: 2rem;  
    margin-top: 1rem;   
    font-size: 40px;
    color: rgb(211, 3, 3);
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    text-align: center; 
    line-height: 1.5; 
}
.fun-container {
    width: 95%; 
    max-width: 1800px;
    height: 600px; 
    background-color: rgb(232, 193, 53);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; 
}

.fun-container h2 {
    font-size: 90px;
    color: rgb(211, 3, 3);
}

.fun-container p {
    margin-right: 2rem; 
    margin-left: 2rem;  
    margin-top: 1rem;   
    font-size: 40px;
    color: rgb(211, 3, 3);
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    text-align: center; 
    line-height: 1.5; 
}

